.status-bar {
  z-index: 2;
  top: 0;
}

.chat-body {
  background-color: #dfd3c3;
  height: 100vh;
  z-index: 3;
}

.alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #dfd3c3;
  z-index: 1;
  top: 0;
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.chatting-main__screen {
  animation: fadeIn 0.8s linear;
}

.chatting-screen {
  padding-top: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatting-screen__date span {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  width: 150px;
  height: 30px;
  border-radius: 100px;
  font-size: 12px;
  color: whitesmoke;
  margin: 20px 0px;
}

.chatting-screen__dialogue {
  display: flex;
  padding: 10px 10px 20px 15px;
}

.chatting-screen__dialogue img {
  width: 45px;
  height: 45px;
  border-radius: 40%;
}

.chatting-screen__question {
  font-size: 13px;
  padding-left: 10px;
}

.chatting-user__name {
  font-size: 13px;
  opacity: 0.7;
}

.chatting-user__bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 20px;
  height: 20px;
  padding: 7px;
  border-radius: 35%;
  border-top-left-radius: 0px;
  margin: 10px 5px 0px 0px;
  font-size: 15px;
  border: 2px dashed #9f8473;
}

.chatting-user__time {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 0.7;
}

.chatting-screen__anstime {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 0.7;
}

.chatting-user__speech {
  display: flex;
}

.chatting-screen__re {
  display: flex;
  justify-content: flex-end;
}

.chatting-screen__ans {
  background-color: #9f8472;
  color: white;
  width: 90px;
  height: 20px;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  font-size: 15px;
  margin-left: 5px;
  margin-right: 10px;
  border-top-right-radius: 0px;
  border: 2px dashed #6b5c54;
}

.chatting-screen__anstime {
  display: flex;
  align-items: flex-end;
  font-size: 10px;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  align-items: center;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  border: var(--main-border);
  border-radius: 17px;
  height: 30px;
  padding-left: 10px;
  width: 100%;
  /*transition: all 0.3s ease-in-out;*/
}

.reply__column {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 800px;
  display: flex;
}

.reply__column button {
  background-color: #6b5c54;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 0.1px;
  border-color: rgba(0, 0, 0, 0.03);
  font-size: 16px;
  color: #dfd3c3;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 3px;
  top: 3px;
}

.reply__column:last-child > i {
  right: 40px;
  top: 4px;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-face-smile,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-smile,
.reply:focus-within button {
  opacity: 0;
}

.reply input:focus {
  transform: translateX(-13%) translateY(-80px);
  width: 90vw;
}

.reply:focus-within {
  transform: translateY(80px);
}
