.friends-body {
  height: 320vh;
}

.blank-div {
  height: 90px;
}

.screen-header img {
  width: 30px;
  height: 30px;
}

#friends-display-link {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 14px;
  margin-top: -5px;
  background-color: whitesmoke;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel:nth-child(3) .user-component__img {
  background-color: #8878c5;
}

.friends-screen__channel-header {
  padding: 10px 0px 0px 0px;
  border-top: var(--main-border);
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

#splash-screen {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 99;
  font-size: 30px;
  background: linear-gradient(0deg, #c8b199, white, #c8b199);
  animation: hideSplashScreen 0.4s ease-in-out 2s forwards;
}

#splash-screen img {
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 170px;
}

#splash-screen__main {
  display: flex;
  position: relative;
}

.cat-comment {
  position: absolute;
  bottom: 11px;
  left: 13px;
  font-size: 130px;
}

.screen-text span {
  position: relative;
  bottom: 45px;
  left: 30px;
  color: white;
  font-size: 47px;
  z-index: 100;
  font-family: "Nunito", sans-serif;
}

.screen-text span:first-child {
  font-size: 42px;
  position: absolute;
  bottom: 80px;
  left: 40px;
  font-family: "Dongle", sans-serif;
}

.fa-heart {
  color: #f03626;
  z-index: 99;
  position: absolute;
  bottom: 98px;
  left: 85px;
  font-size: 18px;
}

.screen-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.splash-animation {
  animation: movingBubble 2s ease-in-out infinite;
}

@keyframes movingBubble {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: none;
  }
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
