.finds-header__icons {
  position: relative;
}

.finds__notification {
  background-color: tomato;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  bottom: 18px;
  left: 120px;
}

.phonenumber__notification {
  color: tomato;
  padding: 6px;
}

.user-phonenumber {
  position: relative;
}

.phonenumber__exclamation {
  color: tomato;
  position: absolute;
  left: 124px;
  bottom: 8px;
  font-size: 5px;
  font-weight: 900;
}
