.user-component {
  margin-left: 5px;
  justify-content: space-between;
  padding: 15px 0px;
  font-size: 16px;
  position: relative;
  overflow: scroll;
  width: 100%;
  display: flex;
  align-items: center;
  margin-right: 7px;
}

/*.user-component__column:nth-child(2) {
  border: 1px solid green;
}*/
/*.user-component__column:nth-child(2) i {
  display: flex;
  align-items: center;
  justify-content: center;
}*/

.user-component__main {
  margin: 0px 7px;
}

user-component__main img {
  margin-left: 7px;
}

.user-component::-webkit-scrollbar {
  display: none;
}

.user-component:hover {
  box-shadow: 5px 5px 20px -5px gray;
  border-radius: 20px;
}

.user-component__img {
  background-color: #e17379;
  width: 50px;
  height: 50px;
  border-radius: 40%;
}

.user-component__channel {
  background-color: var(--yellow);
  width: 50px;
  height: 50px;
  border-radius: 40%;
  position: relative;
}

.user-component__channel i {
  font-size: 28px;
  position: absolute;
  bottom: 11px;
  left: 12px;
}

.user-component__channel span {
  font-size: 15px;
  position: absolute;
  bottom: 20px;
  left: 18px;
  color: var(--yellow);
}

.user-component__people {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 10px 5px 10px 0px;
  font-size: 14px;
}

.user-component__text {
  display: flex;
  margin: 5px 0px 0px 0px;
}

.user-component__music {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid green;
  height: 16px;
  border-radius: 15px;
  padding: 5px 7px;
  margin-right: 7px;
  color: rgba(0, 0, 0, 0.3);
}

.user-component__music i {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.user-component .fa-cake-candles {
  color: white;
  position: absolute;
  bottom: 30px;
  left: 22px;
  font-size: 23px;
}

.user-component .fa-face-smile-wink {
  color: white;
  position: absolute;
  bottom: 29px;
  left: 21px;
  font-size: 23px;
}

.user-component__name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-component__column {
  display: flex;
  justify-content: center;
  margin-left: 7px;
}

.user-component__column span {
  margin-right: 10px;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  /*padding: 10px 15px 18px 17px;*/
}

.user-component__column:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: rgba(0, 0, 0, 0.3);
  font-size: 13px;
}

.user-component__main {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 60px;
  height: 60px;
  border-radius: 23px;
}

.user-component__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-component__text h4 {
  font-weight: 600;
  margin-left: 10px;
  font-size: 18px;
}

.user-component__text h6 {
  margin-left: 10px;
}

.user-component__subtitle {
  margin-top: 8px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
}

.user-component__avatar--xl {
  width: 70px;
  height: 70px;
  border-radius: 28px;
}

.user-component__avatar--sm {
  width: 50px;
  height: 50px;
  border-radius: 20px;
}

.user-component__title--not-bold {
  font-weight: 300;
  font-size: 16px;
}

.user-component__time {
  margin-bottom: 10px;
}

.user-component:last-child {
  color: #2e363e;
}

.user-component__msg {
  color: #2e363e;
}
